In [2]:
import pandas as pd

data = {
    "Country Code": ["CA", "AR", "BR", "CL", "CO", "CR", "CU", "DO", "EC", "SV",
                     "GT", "HN", "MX", "NI", "PA", "PY", "PE", "PR", "UY", "VE",
                     "GB", "IE", "DK", "FI", "NO", "SE", "NL", "BE", "LU", "FR",
                     "DE", "AT", "CH", "LI", "IT", "PT", "ES", "IS", "GR", "CY",
                     "MT", "AU", "NZ", "JP", "AL", "DZ", "AD", "AO", "AM", "AW"],
    "Year of Availability": [2010, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
                             2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011, 2011,
                             2012, 2012, 2012, 2012, 2012, 2012, 2013, 2014, 2014, 2014,
                             2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014, 2014,
                             2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016],
    "Country Name": ["Canada", "Argentina", "Brazil", "Chile", "Colombia", "Costa Rica",
                     "Cuba", "Dominican Republic", "Ecuador", "El Salvador", "Guatemala",
                     "Honduras", "Mexico", "Nicaragua", "Panama", "Paraguay", "Peru",
                     "Puerto Rico", "Uruguay", "Venezuela", "United Kingdom", "Ireland",
                     "Denmark", "Finland", "Norway", "Sweden", "Netherlands", "Belgium",
                     "Luxembourg", "France", "Germany", "Austria", "Switzerland",
                     "Liechtenstein", "Italy", "Portugal", "Spain", "Iceland", "Greece",
                     "Cyprus", "Malta", "Australia", "New Zealand", "Japan", "Albania",
                     "Algeria", "Andorra", "Angola", "Armenia", "Aruba"]
}

df = pd.DataFrame(data)
df.head()

  Country Code  Year of Availability Country Name
0           CA                  2010       Canada
1           AR                  2011    Argentina
2           BR                  2011       Brazil
3           CL                  2011        Chile
4           CO                  2011     Colombia

In [3]:
df.shape

(50, 3)